/* .add-todo {
  border: 1px solid red;
} */

.add-todo-inp {
  padding: 12px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid violet;
  margin-bottom: 30px;
}

.addTodoBtn {
  padding: 12px;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid violet;
}
