button {
  border: 1.5px solid violet;
  padding: 5px;
  border-radius: 5px;
  margin-left: 50px;
}

.check {
  margin-right: 10px;
}

h2 {
  margin-bottom: 30px;
}

.dv {
  max-height: 300px;
  overflow-y: auto;
}
.completed {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

p {
  width: 150px;
  height: 30px;

  border: 1px solid violet;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 5px;
}
